<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Poszeidon</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    <%- include('header', {page: "auctions", user:data.user}) %>
    <main>
        <div class="container">
            <form>
                <fieldset>
                    <legend>Adminisztrátor</legend>
                    <div class="form-group row">
                        <label for="auctionNumber" class="col-sm-2 col-form-label">Árverések száma</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="auctionNumber" value="10">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lowestStartingPrice" class="col-sm-2 col-form-label">Legalacsonyabb kezdési ár</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lowestStartingPrice" value="100">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="highestStartingPrice" class="col-sm-2 col-form-label">Legnagyobb kezdési ár</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="highestStartingPrice" value="1000">
                        </div>
                    </div>
                    <button type="button" class="btn btn-green">Mentés</button>
                </fieldset>
            </form>
            <div class="row">
                <div class="card col-lg-6 my-1">
                    <div class="card-body">
                        <h5 class="card-title">BSz2</h5>
                        <p class="card-text">
                            Kredit: 4
                            <span class="float-right">Lejár: 00:12:23</span>
                        </p>
                        <p class="card-text">
                            <span class="float-right">Jelenlegi ár: 500cr</span>
                        </p>
                        <div class="input-group mt-5">
                            <input type="text" class="form-control" placeholder="Licitált credit" aria-label="Licitált credit">
                            <div class="input-group-append">
                                <span class="input-group-text">cr</span>
                                <button class="btn btn-outline-secondary" type="button">Licitálok!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-6 my-1">
                    <div class="card-body">
                        <h5 class="card-title">Grafika</h5>
                        <p class="card-text">
                            Kredit: 3
                            <span class="float-right">Lejár: 00:14:23</span>
                        </p>
                        <p class="card-text">
                            <span class="float-right">Jelenlegi ár: 1500cr</span>
                        </p>
                        <div class="input-group mt-5">
                            <input type="text" class="form-control" placeholder="Licitált credit" aria-label="Licitált credit">
                            <div class="input-group-append">
                                <span class="input-group-text">cr</span>
                                <button class="btn btn-outline-secondary" type="button">Licitálok!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-6 my-1">
                    <div class="card-body">
                        <h5 class="card-title">Rendszerelmélet</h5>
                        <p class="card-text">
                            Kredit: 4
                            <span class="float-right">Lejár: 00:22:23</span>
                        </p>
                        <p class="card-text">
                            <span class="float-right">Jelenlegi ár: 200cr</span>
                        </p>
                        <div class="input-group mt-5">
                            <input type="text" class="form-control" placeholder="Licitált credit" aria-label="Licitált credit">
                            <div class="input-group-append">
                                <span class="input-group-text">cr</span>
                                <button class="btn btn-outline-secondary" type="button">Licitálok!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-6 my-1">
                    <div class="card-body">
                        <h5 class="card-title">Adatbázisok</h5>
                        <p class="card-text">
                            Kredit: 5
                            <span class="float-right">Lejár: 00:01:23</span>
                        </p>
                        <p class="card-text">
                            <span class="float-right">Jelenlegi ár: 50000cr</span>
                        </p>
                        <div class="input-group mt-5">
                            <input type="text" class="form-control" placeholder="Licitált credit" aria-label="Licitált credit">
                            <div class="input-group-append">
                                <span class="input-group-text">cr</span>
                                <button class="btn btn-outline-secondary" type="button">Licitálok!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>