<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Poszeidon</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    <%- include('header', {page: "auctions", user:user}) %>
    <main>
        <div class="container">
            <form>
                <fieldset>
                    <legend>Adminisztrátor</legend>
                    <div class="form-group row">
                        <label for="auctionNumber" class="col-sm-2 col-form-label">Árverések száma</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="auctionNumber" value="10">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lowestStartingPrice" class="col-sm-2 col-form-label">Legalacsonyabb kezdési ár</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lowestStartingPrice" value="100">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="highestStartingPrice" class="col-sm-2 col-form-label">Legnagyobb kezdési ár</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="highestStartingPrice" value="1000">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-green" value="Mentés"/>
                </fieldset>
            </form>
            <form action="/auctions/create" method="POST">
                <fieldset>
                    <legend>Új árverés inditás</legend>
                    <div class="form-group row">
                        <label for="item" class="col-sm-2 col-form-label">Tantárgy</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="item" name="item">
                                <%var i;
                                for (i = 0; i < data.items.length; i++) {  %>
                                    <option value="<%= data.items[i]._id %>"><%= data.items[i].name %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-2 col-form-label">Ár</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="price" name="price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="expireTime" class="col-sm-2 col-form-label">Időtartam másodpercben</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="expireTime" name="expireTime">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-green" value="Indítás"/>
                </fieldset>
            </form>
            <div class="row">
                <%var i;
                for (i = 0; i < data.auctions.length; i++) {  %>
                        <%- include('auction_card',{auction:data.auctions[i]}) %>
                <% } %>
            </div>
        </div>
    </main>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>