<div class="card col-lg-6 my-1">
    <div class="card-body">
        <h5 class="card-title"><%= item.name %></h5>
        <p class="card-text">
            Kredit: <%= item.credit %>
        </p>
        <p class="card-text">
            <span class="float-right">Megv치s치rl치si 치r: <%= item.price %>cr</span>
        </p>
    </div>
</div>